#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!*/
!.gitignore
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
!*.dcp
!*.vds
!*.pb
#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc
#########
#System Generator
#########
!*.mdl
!*.slx
!*.bxml
#########
#Simulation logic analyzer
#########
!*.wcfg
!*.coe
#########
#MIG
#########
!*.prj
!*.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
!*.xpr
#Include *.xml files for 2013.4 or earlier version
!*.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc
#########
#TCL - files
#########
!*.tcl
#########
#Journal - files
#########
!*.jou
#########
#Reports
#########
!*.rpt
!*.txt
!*.vdi
#########
#C-files
#########
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp
*.xml
*.pb
*.jou
*.mem
project_3/project_3.sim/sim_1/behav/xsim/xsim.dir/MOORE_behav/obj/xsim_1.c
project_3/project_3.ip_user_files/README.txt
project_3/project_3.sim/sim_1/behav/xsim/MOORE.tcl
project_3/project_3.sim/sim_1/behav/xsim/MOORE_vhdl.prj
project_3/project_3.sim/sim_1/behav/xsim/xsim.dir/MOORE_behav/Compile_Options.txt
project_3/project_3.sim/sim_2/behav/xsim/TB_vhdl.prj
project_3/project_3.sim/sim_2/behav/xsim/TB.tcl
project_3/project_3.sim/sim_2/behav/xsim/MemoryTB_vhdl.prj
project_3/project_3.sim/sim_2/behav/xsim/MemoryTB.tcl
project_3/project_3.sim/sim_2/behav/xsim/ChannelTB_vhdl.prj
project_3/project_3.sim/sim_2/behav/xsim/ChannelTB.tcl
project_3/project_3.sim/sim_1/behav/xsim/xsim.dir/MOORE_behav/TempBreakPointFile.txt
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/MemoryTB_behav/Compile_Options.txt
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/ChannelTB_behav/TempBreakPointFile.txt
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/ChannelTB_behav/obj/xsim_1.c
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/ChannelTB_behav/Compile_Options.txt
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/MemoryTB_behav/obj/xsim_1.c
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/MemoryTB_behav/TempBreakPointFile.txt
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/MemoryTB_behav/webtalk/xsim_webtalk.tcl
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/TB_behav/Compile_Options.txt
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/TB_behav/obj/xsim_1.c
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/TB_behav/TempBreakPointFile.txt
*.dcp
project_3/project_3.runs/synth_1/.Xil/Channel_propImpl.xdc
project_3/project_3.runs/synth_1/Channel.tcl
project_3/project_3.runs/synth_1/Channel.vds
project_3/project_3.runs/synth_1/Channel_utilization_synth.rpt
project_3/project_3.runs/synth_1/htr.txt
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/ChannelTB_behav/webtalk/xsim_webtalk.tcl
project_3/project_3.sim/sim_2/synth/func/xsim/ChannelTB_func_synth.vhd
project_3/project_3.sim/sim_2/synth/func/xsim/ChannelTB_vhdl.prj
project_3/project_3.runs/impl_1/htr.txt
project_3/project_3.runs/impl_1/Stimulator.tcl
project_3/project_3.runs/impl_1/Stimulator.vdi
project_3/project_3.runs/impl_1/Stimulator_bus_skew_routed.rpt
project_3/project_3.runs/impl_1/Stimulator_clock_utilization_routed.rpt
project_3/project_3.runs/impl_1/Stimulator_control_sets_placed.rpt
project_3/project_3.runs/impl_1/Stimulator_drc_opted.rpt
project_3/project_3.runs/impl_1/Stimulator_drc_routed.rpt
project_3/project_3.runs/impl_1/Stimulator_io_placed.rpt
project_3/project_3.runs/impl_1/Stimulator_methodology_drc_routed.rpt
project_3/project_3.runs/impl_1/Stimulator_power_routed.rpt
project_3/project_3.runs/impl_1/Stimulator_route_status.rpt
project_3/project_3.runs/impl_1/Stimulator_timing_summary_routed.rpt
project_3/project_3.runs/impl_1/Stimulator_utilization_placed.rpt
project_3/project_3.runs/synth_1/Stimulator.tcl
project_3/project_3.runs/synth_1/Stimulator.vds
project_3/project_3.runs/synth_1/Stimulator_utilization_synth.rpt
project_3/project_3.sim/sim_2/behav/xsim/ConfigRegTB.tcl
project_3/project_3.sim/sim_2/behav/xsim/ConfigRegTB_vhdl.prj
project_3/project_3.sim/sim_2/behav/xsim/StimulatorTB.tcl
project_3/project_3.sim/sim_2/behav/xsim/StimulatorTB_vhdl.prj
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/ConfigRegTB_behav/Compile_Options.txt
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/ConfigRegTB_behav/obj/xsim_1.c
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/ConfigRegTB_behav/TempBreakPointFile.txt
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/ConfigRegTB_behav/webtalk/xsim_webtalk.tcl
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/StimulatorTB_behav/Compile_Options.txt
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/StimulatorTB_behav/obj/xsim_1.c
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/StimulatorTB_behav/TempBreakPointFile.txt
project_3/project_3.sim/sim_2/behav/xsim/xsim.dir/StimulatorTB_behav/webtalk/xsim_webtalk.tcl
project_3/project_3.srcs/constrs_1/imports/Documents/Arty-A7-35-Master.xdc
project_3/project_3.srcs/sources_1/Backup.vhd
project_3/project_3.cache/ip/2018.3/2e44a81326636098/2e44a81326636098.xci
*.v
*.xci
project_3/project_3.cache/ip/2018.3/df317650fa5f94c8/stats.txt
*.rpt
*.vdi
project_3/project_3.srcs/sources_1/ip/ila_0/doc/ila_v6_2_changelog.txt
project_3/project_3.srcs/sources_1/ip/ila_0/hdl/blk_mem_gen_v8_3_vhsyn_rfs.vhd
project_3/project_3.srcs/sources_1/ip/ila_0/hdl/fifo_generator_v13_1_vhsyn_rfs.vhd
project_3/project_3.srcs/sources_1/ip/ila_0/ila_0_ooc.xdc
project_3/project_3.srcs/sources_1/ip/ila_0/ila_v6_2/constraints/ila.xdc
project_3/project_3.srcs/sources_1/ip/ila_0/ila_v6_2/constraints/ila_impl.xdc
